*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
ul {
  list-style: none;
}
a,
a:active,
a:hover {
  outline: none;
  text-decoration: none;
  transition: 0.3s;
}
button,
button:active,
button:focus,
button:hover,
input,
input:active,
input:focus,
input:hover,
textarea,
textarea:focus {
  outline: none;
}
textarea {
  resize: none;
}

img {
  max-width: 100%;
}

.subtittle {
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #404149;

  @media (max-width: 769px) {
    font-size: 26px;
  }

  @media (max-width: 426px) {
    font-size: 20px;
  }
}

.active {
  display: block;
}

.request {
  background: $accentColor;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 426px) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  h5 {
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 0.02em;
    margin-bottom: 7px;

    @media (max-width: 769px) {
      font-size: 36px;
    }

    @media (max-width: 426px) {
      font-size: 26px;
      flex-wrap: wrap;
    }
  }

  p {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.02em;

    @media (max-width: 769px) {
      font-size: 17px;
    }
    @media (max-width: 426px) {
      font-size: 13px;
    }
  }

  &__btn {
    font-size: 14px;
    color: #000000;
    padding: 10px 22px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;

    @media (max-width: 426px) {
      margin-top: 15px;
      font-size: 13px;
      padding: 1px 2px;
      display: flex;
      align-items: center;
      font-weight: 100;
    }
    &::before {
      content: "";
      background: url(../img/.png) no-repeat center;
      padding: 18px;
    }
    &:active {
      transform: scale(1.1, 1.1);
    }
  }
}
